Say hi to, <%= @dog.name %>

<form class="" action="/dogs/<%= @dog.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete">
</form>
