<div>
  <h4>
    <a href="/dogs/<%= @dog.id %>">
      <%= @dog.name %>
    </a>
  </h4>
</div>

<a href="/dogs/<%= @dog.id %>/edit">
  <button class="btn btn-success" type="button">Edit dog</button>
</a>

<form class="" action="/dogs/<%= @dog.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger" type="submit">Delete dog</button>
</form>
