.card {
  background-color: #EEEEEE;
  border-radius: 5px;
  -webkit-box-shadow: 6px 4px 16px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 16px -4px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 16px -4px rgba(0,0,0,0.75);
  padding: 0px 15px 15px 15px;
}

.dog-card {
  margin: 0 15px 15px 0;
}

.dog-name {
  padding-top: 15px;
}

.avatar-container {
  padding: 10px 0;
}

.avatar {
  border-radius: 25px;
}

.align-middle {
  margin-top: 20px;
}

.button-spacing {
  margin-left: 10px;
}
