<form class="" action="/signup" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" value="">
  <label for="">Email:</label>
  <input type="text" name="email" value="">
  <label for="">Password:</label>
  <input type="password" name="password" value="">

  <input type="submit" name="submit" value="Sign Up">
</form>
